button, #addUser {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    transition: 0.2s;
}

    button.edit {
        background: rgb(0,0,255);
    }

#delete {
    background: rgb(255,0,0);
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

    button:hover, #delete:hover, #addUser:hover {
        background: rgb(255, 211, 0);
    }

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

    input[type=text]:focus {
        background-color: lightblue;
    }
